<app-my-header name="Модульна робота №1"></app-my-header>

<ion-content class="ion-padding">
    <app-input-form (formSubmit)="generateCombinations($event)"></app-input-form>

    <div *ngIf="combinations.length">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Згенеровані комбінації:</ion-card-title>
            </ion-card-header>

            <ion-list>
                <ion-item *ngFor="let combo of combinations">
                    {{ combo }}
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
</ion-content>
